@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 240,238,244;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-rgb));
}
